<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Digital Infinity rezervacioni email</title>

    <style type="text/css">
      @import url(http://fonts.googleapis.com/css?family=Lato);

      * {
        font-family: lato;
        color: #17161a;
      }

      body {
        padding: 15px 20px;
      }

      h2,
      a {
        color: #17161a;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 0;
      }

      .logo h2 {
        margin: 0;
      }

      .logo-conference {
        color: #f47064;
      }

      .header-link {
        text-decoration: none;
      }

      .title {
        padding: 12px 0;
      }

      .details-table {
        padding: 20px 0;
      }

      .details-table td {
        min-width: 110px;
        width: 200px;
        padding: 8px 0;
      }

      .bold {
        font-weight: 700;
      }

      .reservation-img {
        width: 530px;
        height: 200px;
        object-fit: cover;
        margin: 15px 0;
      }
      .info-div {
        width: 530px;
        background-color: #f8f8f8;
      }
      .wrapper {
        padding: 10px 24px;
      }
    </style>

    <style type="text/css" media="only screen and (max-width: 576px)">
      .reservation-img {
        width: 100%;
      }

      .info-div {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <h2>
          digital <br />
          infinity. <br />
          <span class="logo-conference">
            conference
          </span>
        </h2>
      </div>
      <div>
        <a class="header-link" href="#">OTVORITE E-MAIL U BROWSERU</a>
      </div>
    </div>

    <div class="title">
      <h1>Vaša rezervacija je uspešna</h1>
      <p>Uspešno ste rezervisali učionicu broj 3</p>
    </div>

    <div>
      <table class="details-table">
        <tbody>
          <tr>
            <td>Datum:</td>
            <td class="bold">31.3.2020.</td>
          </tr>
          <tr>
            <td>Vreme:</td>
            <td class="bold">17:00 - 21:00</td>
          </tr>
          <tr>
            <td>Sala/Učionica:</td>
            <td class="bold">Učionica 3</td>
          </tr>
          <tr>
            <td>Broj mesta:</td>
            <td class="bold">20 / 40</td>
          </tr>
          <tr>
            <td>Predavač/i:</td>
            <td class="bold">Marko Marković, Pera Perić</td>
          </tr>
          <tr>
            <td>Cena:</td>
            <td class="bold">23 000,00 din</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="bold">Hvala na rezervaciji!</p>
    <img src="images/reservation.png" alt="reservation" class="reservation-img" />
    <div class="info-div">
      <div class="wrapper">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
        <span class="bold">Otkazivanje prostora:</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur.
        </p>
      </div>
    </div>
  </body>
</html>
