<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/add_employee.js"></script>
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="css/add_employee.css" />
    <title>Add Employee</title>
  </head>
  <body>
    <div id="employee-form-container" class="container">
      <div class="wrapper">
        <form autocomplete="off" id="employeeForm" class="employee-form">
          <span class="employee-form-title">
            Add New Employee
          </span>

          <div class="employee-input-wrapper">
            <input
              required
              class="employee-input"
              id="name"
              type="text"
              name="name"
              placeholder="Name"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Name'"
            />
            <label class="employee-input-label" for="name">
              <img height="22px" src="fonts/icons/user-tie-solid.svg" alt="" />
            </label>
          </div>

          <div class="employee-input-wrapper">
            <input
              required
              class="employee-input"
              id="position"
              type="text"
              name="position"
              placeholder="Position"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Position'"
            />
            <label class="employee-input-label" for="position">
              <img height="22px" src="fonts/icons/briefcase-solid.svg" alt="" />
            </label>
          </div>

          <div class="employee-input-wrapper">
            <input
              class="employee-input"
              id="linkedIn"
              type="text"
              name="linkedIn"
              placeholder="LinkedIn"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'LinkedIn'"
            />
            <label class="employee-input-label" for="linkedIn">
              <img height="22px" src="fonts/icons/linkedin-brands.svg" alt="" />
            </label>
          </div>

          <div class="container-employee-form-btn">
            <div class="wrapper-employee-form-btn">
              <div class="employee-form-bgbtn"></div>
              <button type="submit" class="employee-form-btn">
                Add Employee
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- image upload form -->
    <div id="image-form-container" class="container">
      <form id="image-upload-form" method="post" enctype="multipart/form-data">
        <span class="employee-form-title">
          Image Upload
        </span>
        <input type="file" name="file" />
        <div class="container-file-form-btn">
          <div class="wrapper-employee-form-btn">
            <div class="employee-form-bgbtn"></div>
            <button type="submit" class="employee-form-btn">
              Upload
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
