<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/add_edit_position.js"></script>
    <script src="../js/header.js"></script>
    <link rel="shortcut icon" type="image/png" href="../di.png" />
    <link rel="stylesheet" href="../css/add_edit_position.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <title>Add Job Position</title>
  </head>
  <body>
    <div id="header-div"></div>
    <div class="container">
      <div class="wrapper">
        <form autocomplete="off" id="jobPositionForm" class="position-form">
          <span id="position-header" class="position-form-title">
            Add New Job Position
          </span>

          <div class="position-input-wrapper">
            <input
              required
              class="position-input"
              id="title"
              type="text"
              name="title"
              placeholder="Title"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Title'"
            />
            <label class="position-input-label" for="title">
              <img
                height="22px"
                src="../fonts/icons/briefcase-solid.svg"
                alt=""
              />
            </label>
          </div>

          <div class="position-input-wrapper">
            <input
              class="position-input"
              id="short"
              type="text"
              name="short"
              placeholder="Short Title"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Short Title'"
            />
            <label class="position-input-label" for="short">
              <img
                height="22px"
                src="../fonts/icons/briefcase-solid.svg"
                alt=""
              />
            </label>
          </div>

          <div class="position-input-wrapper">
            <input
              required
              class="position-input"
              id="type"
              type="text"
              name="type"
              placeholder="Type"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Type'"
            />
            <label class="position-input-label" for="type">
              <img height="22px" src="../fonts/icons/laptop-code.svg" alt="" />
            </label>
          </div>

          <div class="position-input-wrapper">
            <input
              required
              class="position-input"
              id="hours"
              type="text"
              name="hours"
              placeholder="Working Hours"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Working Hours'"
            />
            <label class="position-input-label" for="hours">
              <img
                height="22px"
                src="../fonts/icons/business-time.svg"
                alt=""
              />
            </label>
          </div>

          <div class="position-input-wrapper">
            <input
              class="position-input"
              id="description"
              type="text"
              name="description"
              placeholder="Description"
              onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Description'"
            />
            <label class="position-input-label" for="description">
              <img height="22px" src="../fonts/icons/info-circle.svg" alt="" />
            </label>
          </div>

          <div class="container-position-form-btn">
            <div class="wrapper-position-form-btn">
              <div class="position-form-bgbtn"></div>
              <button
                id="position-button"
                type="submit"
                class="position-form-btn"
              >
                Add Job Position
              </button>
            </div>
            <div class="wrapper-position-form-btn">
              <div class="delete-position-form-bgbtn"></div>
              <button
                id="delete-position-button"
                type="button"
                class="position-form-btn"
              >
                Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
