<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/employees.js"></script>
    <link rel="shortcut icon" type="image/png" href="di.png" />
    <link rel="stylesheet" href="css/employees.css" />
    <link rel="stylesheet" href="css/header.css" />
    <title>Employees</title>
  </head>
  <body>
    <div id="header-div"></div>
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="add-employee-button-container">
            <a
              class="employee-button"
              href="/add-employee"
              rel="nofollow noopener"
              >Add Employee</a
            >
          </div>
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">Employee</th>
                  <th class="column2">Position</th>
                  <th class="column3">LinkedIn</th>
                  <th class="column4">Image</th>
                </tr>
              </thead>
              <tbody id="employee-table-body"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
