<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="images/di.png" />
    <link rel="stylesheet" href="css/job_positions.css" />
    <link rel="stylesheet" href="css/header.css" />
    <script src="js/job_positions.js"></script>
    <script src="../js/header.js"></script>
    <title>Job Positions</title>
  </head>
  <body>
    <div id="header-div"></div>
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="add-position-button-container">
            <a
              class="position-button"
              href="/add-position"
              rel="nofollow noopener"
              >Add Job Position</a
            >
          </div>
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">Title</th>
                  <th class="column2">Title Short</th>
                  <th class="column3">Type</th>
                  <th class="column4">Hours</th>
                  <th class="column5">Description</th>
                </tr>
              </thead>
              <tbody id="position-table-body"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
